:root {
    /* type */
    --ff: "Manrope", sans-serif;
    --h1: 700 1.5rem/1.2em var(--ff);
    --h2: 700 1.25rem/1.4em var(--ff);
    --h3: 700 1.125rem/1.4em var(--ff);
    --h4: 700 1rem/1.4em var(--ff);
    --p: 400 1rem/1.6em var(--ff);
    --small: 400 0.75rem/1.6em var(--ff);

    --border-radius: 0.25rem;

    /* colors */
    --bg-dark: oklch(0.1 0 264);
    --bg: oklch(0.2 0 264);
    --bg-light: oklch(0.3 0 264);
    --text: oklch(0.96 0 264);
    --text-muted: oklch(0.76 0 264);
    --primary: oklch(0.9 0.17 100);
    --secondary: oklch(0.65 0.15 264);
    --danger: oklch(72% 0.1 27);
    --gradient: linear-gradient(135deg, var(--primary), var(--secondary));
    /* shadows */
    --shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030,
        0 2px 4px #00000015;
    --shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030,
        0 4px 8px #00000015;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
}

body {
    margin: 1rem auto;
    max-width: min(90vw, 1200px);
    background-color: var(--bg-dark);
    color: var(--text);
}

.h1 {
    font: var(--h1);
    margin-bottom: 0.5rem;
    color: var(--text);
}

h2 {
    font: var(--h2);
    margin-bottom: 0.4rem;
    color: var(--text);
}

h3 {
    font: var(--h3);
    margin-bottom: 0.25rem;
    color: var(--text);
}

h4 {
    font: var(--h4);
    color: var(--text);
}

p {
    font: var(--p);
    color: var(--text-muted);
    max-width: 80ch;
}

.small,
small {
    font: var(--small);
    letter-spacing: 0.1rem;
}

ul {
    list-style: none;
}

.container {
    max-width: 50rem;
    margin: 0 auto;
    background: var(--bg);
    padding: 1.25rem;
    border-radius: var(--border-radius);
}

.input-section {
    display: flex;
    gap: 0.75rem;
    margin: 1.25rem 0;

    input[type="text"] {
        flex: 1;
        padding: 0.75rem 1rem;
        border: 1px solid var(--bg-light);
        border-radius: var(--border-radius);

        &:focus {
            outline: 1px solid var(--bg-dark);
        }
    }

    button {
        padding: 0.75rem 1.25rem;
        background: var(--primary);
        color: var(--bg-dark);
        border: none;
        border-radius: var(--border-radius);
        cursor: pointer;

        &:hover {
            background: var(--gradient);
            color: var(--text);
        }

    }
}

.todo-item {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    padding: 0.75rem;
    border-bottom: 1px solid var(--bg-light);

    &.completed .todo-text {
        text-decoration: line-through;
        color: var(--text-muted);
    }

    & .todo-text {
        flex: 1;
        margin-left: 0.75rem;
    }

    input[type="checkbox"] {
        width: 1.75rem;
        height: 1.75rem;
        cursor: pointer;
    }

    button {
        background: var(--danger);
        color: var(--text);
        width: 1.5rem;
        aspect-ratio: 1/1;
        ;
        border: none;
        padding: 0.25rem;
        border-radius: var(--border-radius);
        cursor: pointer;

        &:hover {
            box-shadow: var(--shadow-m);
        }
    }
}